@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono One:wght@400&display=swap');

*{
    font-family: Rubik;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 150px;
    font-family: Rubik\ Glitch;
    color: #000;
}

.write-contain {
    display: flex;
}

h3 {
    font-family: Rubik\ Mono One;
    color: #A50C0B;
}

h3 span {
    font-size: 50px;
}

#crsr {
    height: 5px;
    width: 20px;
    background-color: #A50C0B;
    margin-top: 70px;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.05;
  }
}

header nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: #fff;
}

header nav div:not(.logo-contain) {
    margin-top: 7px;
}

header nav .logo-contain {
    height: 100%;
    width: 20vw;
}

header nav div a:not(#logo) {
    height: 100%;
    width: auto;
    text-decoration: none;
}

header nav #logo {
    height: 100%;
    width: auto;
    overflow: hidden;
}

header nav #logo:hover {
    cursor: pointer;
}

header nav #logo img {
    height: 150%;
    width: auto;
    margin-top: -10px;
}

header nav div a svg {
    color: #000;
    height: 75%;
    width: auto;
}

header nav div a svg:hover {
    cursor: pointer;
}

.search-contain {
    height: 100%;
    width: 45vw;
    display: flex;
    justify-content: space-around;
}

.search-contain input {
    height: 75%;
    width: 75%;
    margin-left: -100px;
}

.search-contain svg {
    width: auto;
    height: 80%;
}

.icon-contain {
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.icon-contain a #bars {
    height: 80%;
}


