header nav {
    background-color: #fff;
}

header nav div a svg {
    color: #000;
}

.write-contain {
    display: flex;
}
        
h1 {
    font-size: 150px;
    font-family: Rubik\ Glitch;
    color: #000;
}

h3 {
    font-family: Rubik\ Mono One;
    color: #A50C0B;
}

h3 span {
    font-size: 50px;
}

#crsr {
    height: 5px;
    width: 20px;
    background-color: #A50C0B;
    margin-top: 70px;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.05;
  }
}
 
